.links a{
    text-decoration: none;
    color: #102851;
    font-size: 16x;
}
@media (max-width: 900px) {
  .links {
    background: #102851;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 400ms ease;
  }

  .links.active {
    transform: translateX(0);
  }

  .links a {
    color: #fff;
  }
}
